# Central LLMOps Platform Configuration

LLM_PROVIDER=ollama
OLLAMA_HOST=http://localhost:11435
CHROMA_HOST=localhost
CHROMA_PORT=8000
MLFLOW_TRACKING_URI=http://localhost:5000
MLFLOW_DEFAULT_EXPERIMENT=review_experiment